.App {
  text-align: center;
  background-color: #0A4285;
}

#header-text {
  background: linear-gradient(180deg, #0E34A0 0%, rgba(39, 93, 248, 0.8) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}